/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2015, 09:21:43 PM
    Author     : Familia
*/

/*.companyHeaderGrid td {
    border:0 !important;
    background-color: palegreen;
}*/

.companyHeaderGrid.ui-panelgrid>*>tr,
.companyHeaderGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.ui-dialog
{
     position: absolute !important;
}